/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* .alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */


/* .alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
/* } */ 

/******************************************
/* BASE STYLES
/*******************************************/

/* body {
  font-size: 100px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 50%; 
  border-top: 50%; 
  text-align: center;
  
} */

/******************************************
/* LAYOUT
/*******************************************/

html { 
  background: url(back1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  body, html {
    height:100%;
    color:rgb(77, 24, 24);
    font-size: 110%; 
 
  }
  
  


  h2, h4, form {
    text-align: center;
  }
  h1{
    text-align: center;
    text-shadow: 1px 2px rgb(113, 54, 54);
    margin-right: 30%; 
    margin-left: 30%; 
    border-radius: 12px;
    background-color: rgba(215, 140, 12, 0.75);
    transition: all .2s ease-in-out;
    margin-top: 2%;  

  
  }

  ol{
     
      margin-right: 20%; 
      margin-left: 20%; 
      padding-right: 20%;
      padding-left: 20%; 
      margin-top: 2%; 
       
  }

  li{
      margin-top: 2%; 
  }

  #mid{
    text-align: center;
  }
  
  #button{
    background-color: rgb(208, 133, 3); 
    /* box-shadow: 
    inset 0.1em -0.2em 0 4px #E69A8DFF;  */
  }
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
